.hero{
    margin:0px 60px ;
    margin-top: 100px;

}
.herotext{
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    line-height: 130px;

}
.heroexplore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.heroexplore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;

}
.herodotplay{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.herodots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.herodot{
width: 15px;
height: 15px;
background:#fff;
cursor: pointer;
border-radius: 7.5px;
}
.herodot.orange{

background: orangered;

}
.heroplay{
    display: flex;
    align-items: center;
    gap: 30px;

}

.heroplay p{
color: #fff;
font-size: 19px;

}



